{% extends 'base.html.twig' %}
{% block title %}Edit Author - Admin{% endblock %}
{% block body %}
<div class="breadcrumb"><a href="{{ path('app_admin_dashboard') }}">Admin</a> &raquo; <a href="{{ path('app_admin_authors') }}">Authors</a> &raquo; Edit</div>
<div class="form-container">
    <h1>Edit: {{ author.fullName }}</h1>
    {{ include('admin/author/_form.html.twig') }}
</div>
{% endblock %}
